<!doctype html>
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title>{{ title }} - {{ project.name }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/styles.css">
    </head>

    <body>
        {{ content | safe }}
        <script src="assets/scripts.js"></script>
    </body>

</html>